.myBody{
  background: url(./AboutImg/bodyBackground.jpg);
}
#root{
  max-width: 2000px;
  margin: 0 auto; 
  background: url(./AboutImg/specna-arms-wYYo7xfe-1s-unsplash.jpg);
}


.goods-field::after {
  content: "";
  display: block;
  clear: both;
}

.goods-block {
  width: 30%;
  margin: 1%;
  padding: 10px;
  border: 1px solid black;
  float: left;
  text-align: center;
}

.goods-block img {
  max-width: 80%;
  display: block;
  margin: 20px auto;
}